[Desktop Entry]
Name=SuperVTF
Comment=VTF/VMT Editor for Valve Source Games
Exec=supervtf
Icon=supervtf
Type=Application
Categories=Graphics;Development;
MimeType=application/x-vmt;application/x-vtf;
Terminal=false
StartupWMClass=supervtf
